{% extends 'index.html' %}

{% block body %}

<div class="logo">
    <img id="logo-empresa" src="https://i.ibb.co/VvktPyg/tulogoaqui.jpg" alt="logo">
</div>
<div class="first-h1">
    <h1>OlorData</h1>
    <h3>EMPRESA S.A.S.</h3>
    &nbsp;
    &nbsp;
    <h2><a class="button-link" href="/add">INICIAR</a></h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}